* {
    box-sizing: border-box;
}

html, body {
    padding: 0 auto;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background: url(../form/Background.png);
}

a {
    text-decoration: none;
    display: inline-block;
}

* {
    box-sizing: border-box;
}

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

input, button {
    border: none;
    outline: none;
    border-radius: 3px;
}

input {
    width: 100%;
    height: 42px;
    background-color: #c3c2c1;
    padding-left: 15px;
    border-radius: 15px 15px 15px 15px;
    width: 199px;
    height: 30px;
    margin-top: 50%
}

button {
    width: 14px;
    height: 13px;
    position: absolute;
    top: 8px;
    left: 180px;
    background: url(../form/icon.png);
    cursor: pointer;
    margin-top: 50%
}